.card {
    display: flex;
    flex-direction: column;
    background-color: #2881e7;

    flex: 1 0 20%;
    margin: 8px;
    position: relative;
}

.card-body {
    padding: 12px;
}

.tag {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 8px;
    color: #fff;
}
